body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}
body{
  background-color: #222222 !important;
}
.bg-dark{
  background-color: #1a1a1a  !important;
}
.c-pointer{
  cursor: pointer !important;
}