body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}
body{
  background-color: #fafafafa !important;
}
.c-pointer{
  cursor: pointer !important;
}
.main-color{
  color: #d4af37 !important;
} 