<div class="d-flex h-100">
  <!-- Sidebar (Left) -->
  <nav 
    [class.expanded]="sidebarExpanded" 
    [ngStyle]="{ width: sidebarExpanded ? '280px' : '80px' }"
    class="sidebar bg-dark text-white d-flex flex-column align-items-center"
  >
    <!-- Logo -->
    <div class="mb-4 mt-4">
      <span class="navbar-brand-custom">أميّة</span>
    </div>

    <!-- Nav Items -->
    <ul class="nav flex-column w-100 px-2" dir="rtl">
      <li class="nav-item c-pointer">
        <a href="/app/dashboard" onclick="window.top.location.href='/app/dashboard';" class="nav-link d-flex align-items-center text-light px-3 py-2">
          <i class="bi bi-speedometer2 fs-4 ms-2"></i>
          <span *ngIf="sidebarExpanded" class="ms-3">لوحة التحكم</span>
        </a>
      </li>
      <li class="nav-item c-pointer">
        <a href="/app/Providers" onclick="window.top.location.href='/app/Providers';" class="nav-link d-flex align-items-center text-light  px-3 py-2">
          <i class="bi bi-file-earmark-text fs-4 ms-2"></i>
          <span *ngIf="sidebarExpanded" class="ms-5">المزودين</span>
        </a>
      </li>
    </ul>
    <!-- Spacer -->
    <div class="flex-grow-1"></div>

    <!-- Toggle Button -->
    <button 
      class="btn btn-outline-light mb-3 toggle-btn"
      (click)="sidebarExpanded = !sidebarExpanded"
      [attr.aria-expanded]="sidebarExpanded"
      aria-label="Toggle sidebar"
    >
      <i class="bi" [ngClass]="sidebarExpanded ? 'bi-chevron-left' : 'bi-chevron-right'"></i>
    </button>
  </nav>

  <!-- Right User Panel -->
  <app-right-side-nav></app-right-side-nav>

</div>
